@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-brand-dark: #2e3da3;
  --color-brand-base: #5165e1;
  --color-brand-light: #8996eb;

  --color-gray-100: #151619;
  --color-gray-200: #1e2024;
  --color-gray-300: #535964;
  --color-gray-400: #858b99;
  --color-gray-500: #e3e5e8;

  --color-gray-600: #f9fafa;

  --color-feedback-danger: #d03e3e;
  --color-feedback-open: #cc3d6a;
  --color-feedback-progress: #355ec5;
  --color-feedback-done: #508b26;
}

body,
button,
select {
  font-family: "Lato", sans-serif;
}

.img {
  background-image: url("../src/assets/Login_Background.png");
}
